@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard-dynamic-subset.css");

/* @import "pretendard/dist/web/static/pretendard.css"; */
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
}
button {
  font-family: "Pretendard";
}
/* 메시지 컨테이너를 하단에 위치시키는 CSS */
.ant-message {
  top: auto !important;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
}
.custom-quill .ql-editor {
  height: 400px;
  font-weight: normal;
}
.ql-toolbar {
  border-radius: 6px 6px 0px 0px;
  border: 1px solid rgba(148, 163, 184, 0.22) !important;
}
.ql-container.ql-snow {
  border: 1px solid rgba(148, 163, 184, 0.22) !important;
  border-top: none !important;
}
.ql-editor {
  border-radius: 0px 0px 6px 6px;
}
/* Placeholder 스타일 설정 */
.custom-quill .ql-editor::before {
  color: #b8c7d5 !important;
  font-size: 16px;
  font-style: normal !important;
  font-weight: 400;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}
