@tailwind base;
@tailwind components;
@tailwind utilities;
@import "pretendard/dist/web/static/pretendard.css";
html,
body {
  width: 100%;
  height: 100%;
  font-family: "Pretendard";
}
:where(.css-dev-only-do-not-override-ijmiz3).ant-checkbox .ant-checkbox-inner {
  width: 24px !important;
  height: 24px !important;
}
:where(.css-dev-only-do-not-override-ijmiz3).ant-checkbox
  .ant-checkbox-inner:after {
  top: 47% !important;
  width: 7.714286px !important;
  height: 12.142857px !important;
}
